doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src="http://malsup.github.io/jquery.form.js")
    script(src='/javascripts/jquery.webcam.min.js')
  body
    block content
