extends layout

block content
    h1= title
    script(src='/javascripts/webcam.min.js')
    div 
        | username: 
        input#username(type='text',placeholder='username')
    #my_camera
    .button
        button(onclick='take_snapshot()') Snapshot
        button#btn_upload(onclick='upload()') Sign up
        a#btn_jump(href='/', type='button') Go to Evaluate
    img#img(src='')
    script(language='JavaScript').
        $(document).ready(function() {
            $('#btn_upload,#btn_jump').hide();
        });
        Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 90
        });
        Webcam.attach( '#my_camera' );
        function take_snapshot() {
        Webcam.snap( function(data_uri) {
        $("#img").attr("src", data_uri);
        $('#btn_upload').show();
        } );
        }
        function upload() {
        var username = $('username').val();
        if(username)
            Webcam.upload( $("#img").attr("src"), '/face/signup?username='+username, function(code, text) {
                if(code > 400) alert('error');
                else {
                    alert(text);
                    if(text != 'No Face or Error ~ Please try again')
                        $('#btn_jump').show();
                }
            });
        }


